body {
  font-family: 'Poppins', sans-serif;
  background-color: #cfd6dd;
  min-height: 100vh;
}

#title {
  color: #0f446e;
  font-weight: bold;
}

.btn-custom {
  background-color: #0f446e;
  border-color: #0f446e;
}

.btn-custom:hover, 
.btn-custom:active, 
.btn-custom:focus,
.btn-custom:focus-visible {
  background-color: #1967a7 !important;
  border-color: #1967a7 !important;
}

.form-control:focus,
.form-select:focus {
  border-color: #f17e0b !important;
  box-shadow: 0 0 0 0.25rem rgba(241, 126, 11, 0.25) !important;
}

.error-message {
  background-color: #f17e0b;
}